/*-------------------------------------------
  Button styles
-------------------------------------------*/
button, .btn {
  background: $accent-1;
  border: none;
  border-radius: $border-radius-all;
  color: $white;
  padding: 6px 10px 4px;
}

.btn--prominent {
  display: block;
  margin-top: 20px;
  width: 100%;
}
