/*-------------------------------------------
  Options form styles
-------------------------------------------*/
.options {
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
