/*-------------------------------------------
  Global styles
-------------------------------------------*/
body {
  color: $text;
  font-family: $sans-serif;
  font-size: 16px;
  @extend %auto-antialias;
  position: relative;
  transform: scale(1);
  width: 300px;
}

// Containing elements
.wrap {
  padding: $page-padding;
}

// Links
a {
  color: $accent-2;
  text-decoration: underline;
}

// Hidden elements
.hidden {
  display: none;
}
